
body{
	background-image:url('images/bg_home2.gif');
}


#main{
	background-color:#FFFFFF;
}

.top-menu{
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;
}


 .banner-side-left{
 	position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
 }

  .banner-side-right{
 	position: absolute;
    top: 0;
    right: 0;
    z-index: 199;
 }

.menu-bottom{
	margin-left: 5px;
	cursor:pointer;
}

.font-h{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", sans-serif;
	color: #646464;
}

.text_tahoma13 {
    font-family: "Tahoma";
    font-size: 13px;
    color: #666666;
    margin: 0px;
}

.table-price-online{
    width: 90%;
    max-width: 450px;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    margin: 5px 5px 5px 20px;
}

.box-price-online-detail-price{
    color:#BA0C14;
    font-size: 18px;
    font-weight: bold;
}

.box-price-online-detail-discount{
    font-size: 12px;
    font-weight: bold;
}



/*---------------------- Set icon menu bottom -----------------------*/
#menu_footer ul>li{
	 list-style: square inside url("images/icon/menu_bottom.gif");
	 font-size:11px;	 

}


.product_price{
	border-top: 2px solid #f2dede;
    border-bottom: 2px solid #f2dede;
    font-size: 11px;
    font-weight: bolder;
    padding-left: 5px;
    text-align: center;
}


.product_price-detail{
    font-size: 11px;
    font-weight: bolder;
    padding-left: 10px;
    text-align: left ;
    background-color:#f7f7f7;
    margin-top:2px;
    color:#666666;
}
    

.text_price_detail{
	margin-left:10px;
	color:#ff0000;
	font-weight: bolder;	
    font-family: "Tahoma", "MS Sans Serif", "Angsana New";
}


.underline {
    font-family: "Tahoma", "MS Sans Serif", "Angsana New";
    font-size: 11px;
    font-style: normal;
}



.box-div-news{
	width:140px;
	border: 1px solid #b3b3b3;
	text-align: center;
	padding: 5px;
}

/*===================== หมวดหมู่มือถือ=============================*/
.ul-price-category{
	font-size: 11px;
	font-weight: bolder;
	padding:0px;
}
.ul-price-category li{
	list-style: square inside url('images/icon/arrow_red.gif');
	margin-left:11px;
}
.ul-price-category a{
	color:#666666;
}
/*===============================================================*/

/*--------------------- Set Media solution -----------------------*/
 @media (min-width: 240px){
      .banner-side-left ,.banner-side-right{
     	display:none;
     }

     .product_price-detail{
 		padding-left: 0px;
    	text-align: center ;
     }


 }

@media (min-width:385px){

}

@media (min-width: 750px){

 }

@media (min-width: 970px){

}


@media (min-width: 1200px){
     .top-menu{
     	padding-left:30px;
		padding-right:30px;
     }
 }

@media (min-width: 1350px){
     .banner-side-left ,.banner-side-right{
     	display:inline-block;
     }
 }